.myAccount {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.nums {
    width: 100%;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nums > div:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    display: inline-block;
    width: 0;
    height: 40px;
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
}
.nums > div .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
}
.nums > div .title .img:hover .mmbtips:after {
    left: 130px;
}
#userInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0 0;
    padding: 0 0 45px;
    border-bottom: 1px solid hsla(0, 0%, 55%, 0.4);
}
#userInfo img {
    margin-right: 30px;
}
#userInfo .detail p {
    margin: 6px 0;
}
#userInfo .detail button {
    margin-top: 12px;
}
#userInfo .detail span.securityStrength {
    color: #8bc34a;
}
#userInfo .detail span.securityStrength.bad {
    color: red;
}
div.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    width: 100%;
}
div.content p {
    font-size: 14px;
}
div.userIdNameContactMail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div.userIdNameContactMail p.user {
    font-size: 18px;
    color: #262626;
}
div.userIdNameContactMail p.contactMail,
div.userIdNameContactMail p.name,
div.userIdNameContactMail p.user {
    padding-bottom: 8px;
}
div.userIdNameContactMail p.contactMail input,
div.userIdNameContactMail p.name input,
div.userIdNameContactMail p.user input {
    padding: 4px 7px;
    width: 154px;
    height: 24px;
    border-radius: 2px;
    background-image: none;
    border: 1px solid #dddee1;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
div.userIdNameContactMail p.contactMail input:hover,
div.userIdNameContactMail p.name input:hover,
div.userIdNameContactMail p.user input:hover {
    border-color: #d44646;
}
div.userIdNameContactMail p.contactMail input:focus,
div.userIdNameContactMail p.name input:focus,
div.userIdNameContactMail p.user input:focus {
    border-color: #d44646;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.nums > div {
    width: 33%;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #E00;
}
.nums > div .title .img {
    line-height: 1;
    cursor: pointer;
}
.nums > div .title .img:hover .mmbtips {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    visibility: visible;
    top: 60px;
    left: 47px;
    width: 630px;
}
.mmbtips {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
    z-index: 10;
    top: 50px;
    left: 0;
    border: 1px solid #fed38e;
    border-radius: 3px;
    color: #f90;
    width: 800px;
    padding: 12px 20px;
    line-height: 1.5;
    text-align: left;
    font-size: 13px;
}
.mmbtips,
.mmbtips:after {
    position: absolute;
    background: #fff5e5;
}
.mmbtips:after {
    content: "";
    width: 10px;
    height: 10px;
    border-color: #fed38e;
    border-style: solid;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -5px;
    left: 60px;
}
@-webkit-keyframes ani-load-loop {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes ani-load-loop {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
header,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
main {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
b {
    font-weight: inherit;
    font-weight: bolder;
}
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancvms-element-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
[hidden] {
    display: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue, Helvetica, sans-serif, Hiragino Sans GB, \\5fae\8f6f\96c5\9ed1, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #495060;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,
button,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
p,
section,
th {
    margin: 0;
    padding: 0;
}
button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
a {
    color: #d44646;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover {
    color: #d44646;
}
a:active {
    color: #d44646;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
a[disabled] {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}
@font-face {
    font-family: Ionicons;
    src: url(https://static.maxmines.com/self/lesongvi/viminershop/fonts/ionicons.eot);
    src: url(https://static.maxmines.com/self/lesongvi/viminershop/fonts/ionicons.eot#iefix) format("embedded-opentype"), url(https://static.maxmines.com/self/lesongvi/viminershop/fonts/ionicons.ttf) format("truetype"),
        url(https://static.maxmines.com/self/lesongvi/viminershop/fonts/ionicons.woff) format("woff"), url(https://static.maxmines.com/self/lesongvi/viminershop/fonts/ionicons.svg#Ionicons) format("svg");
    font-weight: 400;
    font-style: normal;
}
.vms-iv-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}
.vms-iv-row:after,
.vms-iv-row:before {
    content: "";
    display: table;
}
.vms-iv-row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.vms-iv-col {
    position: relative;
    display: block;
}
.vms-iv-col-span-1,
.vms-iv-col-span-10,
.vms-iv-col-span-11,
.vms-iv-col-span-12,
.vms-iv-col-span-13,
.vms-iv-col-span-14,
.vms-iv-col-span-15,
.vms-iv-col-span-16,
.vms-iv-col-span-17,
.vms-iv-col-span-18,
.vms-iv-col-span-19,
.vms-iv-col-span-2,
.vms-iv-col-span-20,
.vms-iv-col-span-21,
.vms-iv-col-span-22,
.vms-iv-col-span-23,
.vms-iv-col-span-24,
.vms-iv-col-span-3,
.vms-iv-col-span-4,
.vms-iv-col-span-5,
.vms-iv-col-span-6,
.vms-iv-col-span-7,
.vms-iv-col-span-8,
.vms-iv-col-span-9 {
    float: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.vms-iv-col-span-24 {
    display: block;
    width: 100%;
}
.vms-iv-col-pull-24 {
    right: 100%;
}
.vms-iv-col-span-23 {
    display: block;
    width: 95.83333333%;
}
.vms-iv-col-pull-23 {
    right: 95.83333333%;
}
.vms-iv-col-span-22 {
    display: block;
    width: 91.66666667%;
}
.vms-iv-col-pull-22 {
    right: 91.66666667%;
}
.vms-iv-col-span-21 {
    display: block;
    width: 87.5%;
}
.vms-iv-col-pull-21 {
    right: 87.5%;
}
.vms-iv-col-span-20 {
    display: block;
    width: 83.33333333%;
}
.vms-iv-col-pull-20 {
    right: 83.33333333%;
}
.vms-iv-col-span-19 {
    display: block;
    width: 79.16666667%;
}
.vms-iv-col-pull-19 {
    right: 79.16666667%;
}
.vms-iv-col-span-18 {
    display: block;
    width: 75%;
}
.vms-iv-col-pull-18 {
    right: 75%;
}
.vms-iv-col-span-17 {
    display: block;
    width: 70.83333333%;
}
.vms-iv-col-pull-17 {
    right: 70.83333333%;
}
.vms-iv-col-span-16 {
    display: block;
    width: 66.66666667%;
}
.vms-iv-col-pull-16 {
    right: 66.66666667%;
}
.vms-iv-col-span-15 {
    display: block;
    width: 62.5%;
}
.vms-iv-col-pull-15 {
    right: 62.5%;
}
.vms-iv-col-span-14 {
    display: block;
    width: 58.33333333%;
}
.vms-iv-col-pull-14 {
    right: 58.33333333%;
}
.vms-iv-col-span-13 {
    display: block;
    width: 54.16666667%;
}
.vms-iv-col-pull-13 {
    right: 54.16666667%;
}
.vms-iv-col-span-12 {
    display: block;
    width: 50%;
}
.vms-iv-col-pull-12 {
    right: 50%;
}
.vms-iv-col-span-11 {
    display: block;
    width: 45.83333333%;
}
.vms-iv-col-pull-11 {
    right: 45.83333333%;
}
.vms-iv-col-span-10 {
    display: block;
    width: 41.66666667%;
}
.vms-iv-col-pull-10 {
    right: 41.66666667%;
}
.vms-iv-col-span-9 {
    display: block;
    width: 37.5%;
}
.vms-iv-col-pull-9 {
    right: 37.5%;
}
.vms-iv-col-span-8 {
    display: block;
    width: 33.33333333%;
}
.vms-iv-col-pull-8 {
    right: 33.33333333%;
}
.vms-iv-col-span-7 {
    display: block;
    width: 29.16666667%;
}
.vms-iv-col-pull-7 {
    right: 29.16666667%;
}
.vms-iv-col-span-6 {
    display: block;
    width: 25%;
}
.vms-iv-col-pull-6 {
    right: 25%;
}
.vms-iv-col-span-5 {
    display: block;
    width: 20.83333333%;
}
.vms-iv-col-pull-5 {
    right: 20.83333333%;
}
.vms-iv-col-span-4 {
    display: block;
    width: 16.66666667%;
}
.vms-iv-col-pull-4 {
    right: 16.66666667%;
}
.vms-iv-col-span-3 {
    display: block;
    width: 12.5%;
}
.vms-iv-col-pull-3 {
    right: 12.5%;
}
.vms-iv-col-span-2 {
    display: block;
    width: 8.33333333%;
}
.vms-iv-col-pull-2 {
    right: 8.33333333%;
}
.vms-iv-col-span-1 {
    display: block;
    width: 4.16666667%;
}
.vms-iv-col-pull-1 {
    right: 4.16666667%;
}
.vms-iv-col-span-0 {
    display: none;
}
.vms-iv-col-pull-0 {
    right: auto;
}
@-webkit-keyframes ivuFadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes ivuFadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes ivuFadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes ivuFadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes ivuMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes ivuMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes ivuMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes ivuMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveNoticeIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes ivuMoveNoticeIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes ivuMoveNoticeOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: auto;
        padding: 16px;
        margin-bottom: 10px;
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        padding: 0;
        margin-bottom: 0;
        opacity: 0;
    }
}
@keyframes ivuMoveNoticeOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: auto;
        padding: 16px;
        margin-bottom: 10px;
        opacity: 0;
    }
    to {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        padding: 0;
        margin-bottom: 0;
        opacity: 0;
    }
}
@-webkit-keyframes ivuEaseIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes ivuEaseIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes ivuEaseOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes ivuEaseOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-webkit-keyframes ivuSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes ivuSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes ivuSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@keyframes ivuSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@-webkit-keyframes ivuSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes ivuSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes ivuSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@keyframes ivuSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@-webkit-keyframes ivuSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes ivuSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-webkit-keyframes ivuSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@keyframes ivuSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@-webkit-keyframes ivuSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes ivuSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-webkit-keyframes ivuSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@keyframes ivuSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
.vms-iv-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.vms-iv-btn,
.vms-iv-btn:active,
.vms-iv-btn:focus {
    outline: 0;
}
.vms-iv-btn:not([disabled]):hover {
    text-decoration: none;
}
.vms-iv-btn:not([disabled]):active {
    outline: 0;
    -webkit-transition: none;
    transition: none;
}
.vms-iv-btn.disabled,
.vms-iv-btn[disabled] {
    cursor: not-allowed;
}
.vms-iv-btn.disabled > *,
.vms-iv-btn[disabled] > * {
    pointer-events: none;
}
.vms-iv-btn > a:only-child {
    color: currentColor;
}
.vms-iv-btn > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn:hover {
    color: #6d7380;
    background-color: #f9f9f9;
    border-color: #e4e5e7;
}
.vms-iv-btn:active {
    color: #454c5b;
    background-color: #ebebeb;
    border-color: #ebebeb;
}
.vms-iv-btn.disabled,
.vms-iv-btn.disabled:active,
.vms-iv-btn.disabled:focus,
.vms-iv-btn.disabled:hover,
.vms-iv-btn[disabled],
.vms-iv-btn[disabled]:active,
.vms-iv-btn[disabled]:focus,
.vms-iv-btn[disabled]:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.vms-iv-btn.disabled:active > a:only-child,
.vms-iv-btn.disabled:focus > a:only-child,
.vms-iv-btn.disabled:hover > a:only-child,
.vms-iv-btn.disabled > a:only-child,
.vms-iv-btn[disabled]:active > a:only-child,
.vms-iv-btn[disabled]:focus > a:only-child,
.vms-iv-btn[disabled]:hover > a:only-child,
.vms-iv-btn[disabled] > a:only-child {
    color: currentColor;
}
.vms-iv-btn.disabled:active > a:only-child:after,
.vms-iv-btn.disabled:focus > a:only-child:after,
.vms-iv-btn.disabled:hover > a:only-child:after,
.vms-iv-btn.disabled > a:only-child:after,
.vms-iv-btn[disabled]:active > a:only-child:after,
.vms-iv-btn[disabled]:focus > a:only-child:after,
.vms-iv-btn[disabled]:hover > a:only-child:after,
.vms-iv-btn[disabled] > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn:hover {
    color: #d44646;
    background-color: #fff;
    border-color: #d44646;
}
.vms-iv-btn:hover > a:only-child {
    color: currentColor;
}
.vms-iv-btn:hover > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn:active {
    color: #d44646;
    background-color: #fff;
    border-color: #d44646;
}
.vms-iv-btn:active > a:only-child {
    color: currentColor;
}
.vms-iv-btn:active > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-primary {
    color: #fff;
    background-color: #d44646;
    border-color: #d44646;
}
.vms-iv-btn-primary > a:only-child {
    color: currentColor;
}
.vms-iv-btn-primary > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-primary:hover {
    color: #fff;
    background-color: #d44646;
    border-color: #d44646;
}
.vms-iv-btn-primary:hover > a:only-child {
    color: currentColor;
}
.vms-iv-btn-primary:hover > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-primary:active {
    color: #f2f2f2;
    background-color: #d44646;
    border-color: #d44646;
}
.vms-iv-btn-primary:active > a:only-child {
    color: currentColor;
}
.vms-iv-btn-primary:active > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-primary.disabled,
.vms-iv-btn-primary.disabled:active,
.vms-iv-btn-primary.disabled:focus,
.vms-iv-btn-primary.disabled:hover,
.vms-iv-btn-primary[disabled],
.vms-iv-btn-primary[disabled]:active,
.vms-iv-btn-primary[disabled]:focus,
.vms-iv-btn-primary[disabled]:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.vms-iv-btn-primary.disabled:active > a:only-child,
.vms-iv-btn-primary.disabled:focus > a:only-child,
.vms-iv-btn-primary.disabled:hover > a:only-child,
.vms-iv-btn-primary.disabled > a:only-child,
.vms-iv-btn-primary[disabled]:active > a:only-child,
.vms-iv-btn-primary[disabled]:focus > a:only-child,
.vms-iv-btn-primary[disabled]:hover > a:only-child,
.vms-iv-btn-primary[disabled] > a:only-child {
    color: currentColor;
}
.vms-iv-btn-primary.disabled:active > a:only-child:after,
.vms-iv-btn-primary.disabled:focus > a:only-child:after,
.vms-iv-btn-primary.disabled:hover > a:only-child:after,
.vms-iv-btn-primary.disabled > a:only-child:after,
.vms-iv-btn-primary[disabled]:active > a:only-child:after,
.vms-iv-btn-primary[disabled]:focus > a:only-child:after,
.vms-iv-btn-primary[disabled]:hover > a:only-child:after,
.vms-iv-btn-primary[disabled] > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-primary:active,
.vms-iv-btn-primary:hover {
    color: #fff;
}
.vms-iv-btn-ghost {
    color: #495060;
    background-color: transparent;
    border-color: #dddee1;
}
.vms-iv-btn-ghost > a:only-child {
    color: currentColor;
}
.vms-iv-btn-ghost > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-ghost:hover {
    color: #6d7380;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-color: #e4e5e7;
}
.vms-iv-btn-ghost:active {
    color: #454c5b;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
}
.vms-iv-btn-ghost.disabled,
.vms-iv-btn-ghost.disabled:active,
.vms-iv-btn-ghost.disabled:focus,
.vms-iv-btn-ghost.disabled:hover,
.vms-iv-btn-ghost[disabled],
.vms-iv-btn-ghost[disabled]:active,
.vms-iv-btn-ghost[disabled]:focus,
.vms-iv-btn-ghost[disabled]:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.vms-iv-btn-ghost.disabled:active > a:only-child,
.vms-iv-btn-ghost.disabled:focus > a:only-child,
.vms-iv-btn-ghost.disabled:hover > a:only-child,
.vms-iv-btn-ghost.disabled > a:only-child,
.vms-iv-btn-ghost[disabled]:active > a:only-child,
.vms-iv-btn-ghost[disabled]:focus > a:only-child,
.vms-iv-btn-ghost[disabled]:hover > a:only-child,
.vms-iv-btn-ghost[disabled] > a:only-child {
    color: currentColor;
}
.vms-iv-btn-ghost.disabled:active > a:only-child:after,
.vms-iv-btn-ghost.disabled:focus > a:only-child:after,
.vms-iv-btn-ghost.disabled:hover > a:only-child:after,
.vms-iv-btn-ghost.disabled > a:only-child:after,
.vms-iv-btn-ghost[disabled]:active > a:only-child:after,
.vms-iv-btn-ghost[disabled]:focus > a:only-child:after,
.vms-iv-btn-ghost[disabled]:hover > a:only-child:after,
.vms-iv-btn-ghost[disabled] > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-ghost:hover {
    color: #d44646;
    background-color: transparent;
    border-color: #d44646;
}
.vms-iv-btn-ghost:hover > a:only-child {
    color: currentColor;
}
.vms-iv-btn-ghost:hover > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-ghost:active {
    color: #d44646;
    background-color: transparent;
    border-color: #d44646;
}
.vms-iv-btn-ghost:active > a:only-child {
    color: currentColor;
}
.vms-iv-btn-ghost:active > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
}
.vms-iv-btn-info > a:only-child {
    color: currentColor;
}
.vms-iv-btn-info > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-info:hover {
    color: #fff;
    background-color: #57c5f7;
    border-color: #57c5f7;
}
.vms-iv-btn-info:hover > a:only-child {
    color: currentColor;
}
.vms-iv-btn-info:hover > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-info:active {
    color: #f2f2f2;
    background-color: #2baee9;
    border-color: #2baee9;
}
.vms-iv-btn-info:active > a:only-child {
    color: currentColor;
}
.vms-iv-btn-info:active > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-info.disabled,
.vms-iv-btn-info.disabled:active,
.vms-iv-btn-info.disabled:focus,
.vms-iv-btn-info.disabled:hover,
.vms-iv-btn-info[disabled],
.vms-iv-btn-info[disabled]:active,
.vms-iv-btn-info[disabled]:focus,
.vms-iv-btn-info[disabled]:hover {
    color: #bbbec4;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.vms-iv-btn-info.disabled:active > a:only-child,
.vms-iv-btn-info.disabled:focus > a:only-child,
.vms-iv-btn-info.disabled:hover > a:only-child,
.vms-iv-btn-info.disabled > a:only-child,
.vms-iv-btn-info[disabled]:active > a:only-child,
.vms-iv-btn-info[disabled]:focus > a:only-child,
.vms-iv-btn-info[disabled]:hover > a:only-child,
.vms-iv-btn-info[disabled] > a:only-child {
    color: currentColor;
}
.vms-iv-btn-info.disabled:active > a:only-child:after,
.vms-iv-btn-info.disabled:focus > a:only-child:after,
.vms-iv-btn-info.disabled:hover > a:only-child:after,
.vms-iv-btn-info.disabled > a:only-child:after,
.vms-iv-btn-info[disabled]:active > a:only-child:after,
.vms-iv-btn-info[disabled]:focus > a:only-child:after,
.vms-iv-btn-info[disabled]:hover > a:only-child:after,
.vms-iv-btn-info[disabled] > a:only-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 0 0;
}
.vms-iv-btn-info:active,
.vms-iv-btn-info:hover {
    color: #fff;
}
.vms-iv-btn:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: 0.35;
    content: "";
    border-radius: inherit;
    z-index: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    pointer-events: none;
    display: none;
}
@-webkit-keyframes ani-spin-bounce {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ani-spin-bounce {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@-webkit-keyframes ani-demo-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes ani-demo-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes vms-iv-progress-active {
    0% {
        opacity: 0.3;
        width: 0;
    }
    to {
        opacity: 0;
        width: 100%;
    }
}
@keyframes vms-iv-progress-active {
    0% {
        opacity: 0.3;
        width: 0;
    }
    to {
        opacity: 0;
        width: 100%;
    }
}
@-moz-document url-prefix() {
    .vms-iv-select-item {
        white-space: normal;
    }
}
.vms-iv-input {
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    -webkit-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.vms-iv-input::-moz-placeholder {
    color: #bbbec4;
    opacity: 1;
}
.vms-iv-input:-ms-input-placeholder {
    color: #bbbec4;
}
.vms-iv-input::-webkit-input-placeholder {
    color: #bbbec4;
}
.vms-iv-input:focus,
.vms-iv-input:hover {
    border-color: #d44646;
}
.vms-iv-input:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.vms-iv-input[disabled] {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
}
.vms-iv-input[disabled]:hover {
    border-color: #e4e5e7;
}
@-moz-document url-prefix() {
    .vms-iv-cascader .vms-iv-cascader-menu-item {
        white-space: normal;
    }
}
@-moz-document url-prefix() {
    .vms-iv-cascader-transfer .vms-iv-cascader-menu-item {
        white-space: normal;
    }
}
@-moz-document url-prefix() {
    .vms-iv-transfer-list-content-item {
        white-space: normal;
    }
}
@-moz-document url-prefix() {
    .vms-iv-table-filter-list .vms-iv-table-filter-select-item {
        white-space: normal;
    }
}
@-moz-document url-prefix() {
    .vms-iv-dropdown-item {
        white-space: normal;
    }
}
@-moz-document url-prefix() {
    .vms-iv-menu-horizontal .vms-iv-menu-submenu .vms-iv-select-dropdown .vms-iv-menu-item {
        white-space: normal;
    }
}
input {
    outline: 0;
}
.vms-iv-btn span,
.vms-iv-input {
    font-size: 14px;
}
.vms-iv-btn-primary {
    border-color: transparent;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    border-width: 0 !important;
}
.vms-iv-btn-primary,
.vms-iv-btn-primary:hover {
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.vms-iv-btn-primary:hover {
    opacity: 0.8;
}
.vms-iv-input[disabled] {
    background-color: #fff !important;
    color: #bbbec4 !important;
}
button {
    outline: 0;
}
.vms-iv-btn-primary {
    background: #E00;
}
.vms-iv-btn-primary[disabled] {
    color: #bbbec4 !important;
    background-color: #f7f7f7 !important;
    background: #f7f7f7 !important;
    border-color: #dddee1 !important;
}
#orderInfo {
    margin-top: 45px;
}
#orderInfo .sub_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 33px;
}
#orderInfo .sub_info img {
    margin-right: 20px;
}
p.view:hover {
    cursor: pointer;
    color: #E00;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
span.blue {
    color: #E00;
}
#userInfo button {
    height: 30px;
}
.vms_apc-main-header {
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
}
h2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    line-height: 1;
}
h2 .title {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
}
