.content {
  width: 1180px;
  margin: 0 auto;
}
.steps {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 50px;
}
.steps div {
  position: relative;
  display: inline-block;
  width: 140px;
}
.steps div span {
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-color: #e8e8e8;
}
.steps div span:after,
.steps div span:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 62px;
  height: 8px;
  background-color: #e8e8e8;
}
.steps div span:before {
  left: -3px;
}
.steps div span em {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #e8e8e8;
}
.steps div p {
  position: absolute;
  font-size: 12px;
  padding-top: 2px;
  color: #888;
  width: 100%;
}
.steps div:first-child span:before,
.steps div:last-child span:after {
  width: 0;
}
.steps .step-done {
  background-color: #78c25a !important;
}
.order-confirm .content {
  margin-top: 20px;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 16px;
}
.order-confirm .content {
  margin-top: 20px;
}
.order-confirm .content .order-note {
  border: 1px solid rgba(219, 223, 227, 0.3);
  border-radius: 4px;
}
.order-confirm .content .order-note .title {
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
}
.order-confirm .content .order-note .order-text-area {
  width: 100%;
  height: 105px;
  padding: 15px 20px;
  border: none;
}
.order-confirm .content .order-note .order-text-area::-webkit-input-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::-moz-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::-ms-input-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::placeholder {
  color: #ccc;
}
.order-confirm .content .item {
  margin: 20px 0;
}
.order-confirm .content .item:first-child {
  padding-top: 0;
}
.order-confirm .foot {
  text-align: right;
}
.order-confirm .foot table {
  float: right;
  text-align: right;
  margin: 20px 15px 20px 0;
}
.order-confirm .foot table td {
  padding: 7px 15px;
}
.order-confirm .foot table tr td:nth-child(2) {
  color: #E00;
}
.order-confirm .foot .protocol p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order-confirm .foot .protocol p span {
  display: inline-block;
  cursor: pointer;
}
.order-confirm .foot .protocol p .checkbox {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-right: 8px;
  border: 2px solid #dbdfe3;
  border-radius: 4px;
}
.order-confirm .foot .protocol p .checkbox i {
  font-size: 16px;
  color: #fff;
}
.order-confirm .foot .protocol p .checked {
  background-color: #E00;
  border-color: #E00;
}
.order-confirm .foot .submit {
  margin-top: 10px;
  margin-bottom: 40px;
}
.order-confirm .foot .submit .button {
  width: 160px;
  height: 50px;
  font-size: 16px;
  background: #E00;
  color: #fff;
}
.order-confirm .foot .submit .button:hover {
  border: none;
}
.order-confirm .foot .submit .disabled {
  background-image: none;
  background-color: #ccc;
}
.order-confirm .foot .clear-float {
  border: 1px solid rgba(219, 223, 227, 0.3);
  margin-bottom: 15px;
}
.order-confirm .foot .clear-float:after {
  content: "";
  display: block;
  clear: both;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
.user-addr {
  border: 1px solid rgba(219, 223, 227, 0.3);
  border-radius: 4px;
}
.user-addr .title {
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
  border-top: 1px solid rgba(219, 223, 227, 0.3);
}
.user-addr .content > table {
  color: #888;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.user-addr .content > table tr td {
  height: 40px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}
.user-addr .content > table tr .td1 {
  overflow: hidden;
  width: 140px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.user-addr .content > table tr .td1 .username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 140px;
  line-height: 1;
}
.user-addr .content > table tr .td2 {
  width: 690px;
  max-width: 690px;
  padding-left: 15px;
}
.user-addr .content > table tr .td2 .td2-li1 {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-addr .content > table tr .td3 {
  width: 328px;
  padding-right: 15px;
  text-align: right;
}
.user-addr .content > table tr .td3 .td2-default {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 12px;
  cursor: not-allowed;
}
.user-addr .content > table tr .td3 .td2-default span {
  vertical-align: middle;
  font-size: 12px;
  background-color: #f5f5f5;
  padding: 3px 8px;
  border-radius: 4px;
}
.user-addr .content > table tr .active {
  border: 2px solid #E00;
  border-radius: 2px;
  background: url(https://static.maxmines.com/self/lesongvi/viminershop/icon/ic_ticklist.png)
      no-repeat right -494px;
}
.user-addr .content > table tr .operating {
  visibility: hidden;
  padding-left: 10px;
  color: #E00;
  cursor: pointer;
}
.user-addr .content > table tr .operating:hover {
  color: #d44646;
}
.user-addr .content > table tr:hover .operating {
  visibility: visible;
}
.user-addr .content > table tr:hover .td1 {
  border: 2px solid #E00;
  background-color: #f9fafc;
}
.user-addr .content > table tr:hover {
  background-color: rgba(82, 155, 215, 0.1);
}
.user-addr .more {
  margin-left: 20px;
  margin-bottom: 20px;
  color: #E00;
  cursor: pointer;
}
.user-addr .more i {
  font-size: 12px;
  display: inline-block;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.user-addr .more i:before {
  color: inherit;
}
.user-addr .add-new-addr {
  float: right;
  padding-right: 20px;
}
.user-addr .add-new-addr button {
  color: #E00;
  font-size: 14px;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
.user-addr .add-new-addr:after {
  content: "";
  clear: both;
  display: block;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.coupons {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.coupons .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.coupons .title .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}
.coupons .title .info span {
  display: inline-block;
  margin-left: 5px;
  color: #e6a23b;
  font-size: 14px;
  font-weight: 400;
}
.coupons .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 30px 0;
}
.coupons .conclution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding-right: 20px;
  background: #fff;
  border-top: 1px solid #f2f2f2;
}
.coupons .conclution .number {
  color: #E00;
}
.coupons .vms-iv-tooltip-inner {
  max-width: 660px;
  white-space: normal;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 16px;
}
.order-confirm .content {
  margin-top: 20px;
}
.order-confirm .content .order-note {
  border: 1px solid rgba(219, 223, 227, 0.3);
  border-radius: 4px;
}
.order-confirm .content .order-note .title {
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
}
.order-confirm .content .order-note .order-text-area {
  width: 100%;
  height: 105px;
  padding: 15px 20px;
  border: none;
}
.order-confirm .content .order-note .order-text-area::-webkit-input-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::-moz-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::-ms-input-placeholder {
  color: #ccc;
}
.order-confirm .content .order-note .order-text-area::placeholder {
  color: #ccc;
}
.order-confirm .content .item {
  margin: 20px 0;
}
.order-confirm .content .item:first-child {
  padding-top: 0;
}
.order-confirm .foot {
  text-align: right;
}
.order-confirm .foot table {
  float: right;
  text-align: right;
  margin: 20px 15px 20px 0;
}
.order-confirm .foot table td {
  padding: 7px 15px;
}
.order-confirm .foot table tr td:nth-child(2) {
  color: #E00;
}
.order-confirm .foot .protocol p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order-confirm .foot .protocol p span {
  display: inline-block;
  cursor: pointer;
}
.order-confirm .foot .protocol p .checkbox {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-right: 8px;
  border: 2px solid #dbdfe3;
  border-radius: 4px;
}
.order-confirm .foot .protocol p .checkbox i {
  font-size: 16px;
  color: #fff;
}
.order-confirm .foot .protocol p .checked {
  background-color: #E00;
  border-color: #E00;
}
.order-confirm .foot .submit {
  margin-top: 10px;
  margin-bottom: 40px;
}
.order-confirm .foot .submit .button {
  width: 160px;
  height: 50px;
  font-size: 16px;
  background: #E00;
  color: #fff;
}
.order-confirm .foot .submit .button:hover {
  border: none;
}
.order-confirm .foot .submit .disabled {
  background-image: none;
  background-color: #ccc;
}
.order-confirm .foot .clear-float {
  border: 1px solid rgba(219, 223, 227, 0.3);
  margin-bottom: 15px;
}
.order-confirm .foot .clear-float:after {
  content: "";
  display: block;
  clear: both;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
.shopping-method {
  border: 1px solid rgba(219, 223, 227, 0.3);
  border-radius: 4px;
}
.shopping-method > .title {
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
}
.shopping-method > .title a {
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.shopping-method > .title a:hover {
  text-decoration: underline;
}
.shopping-method .content {
  margin: 30px 20px;
}
.shopping-method .content .item {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: #888;
  border: 1px solid #e8e8e8;
  height: 40px;
  min-width: 140px;
  line-height: 38px;
  text-align: center;
  margin: 5px 30px 5px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
}
.shopping-method .content .item:last-child {
  margin-right: 0;
}
.shopping-method .content .item:hover {
  color: #E00;
  overflow: unset;
}
.shopping-method .content .item.active {
  color: #E00;
  line-height: 36px;
  border: 2px solid #E00;
  background: url(https://static.maxmines.com/self/lesongvi/viminershop/icon/ic_ticklist.png)
      no-repeat right -494px;
}
.shopping-method .content .text-pointer {
  cursor: pointer;
}
.vms-iv-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vms-iv-tooltip-rel {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.vms-iv-tooltip-rel:hover {
  cursor: pointer;
}
.vms-iv-tooltip-popper .vms-iv-tooltip-content .vms-iv-tooltip-arrow {
  top: 0;
  border-width: 0 7px 7px;
  border-bottom-color: #ffe7c3;
}
.vms-iv-tooltip-popper .vms-iv-tooltip-content .vms-iv-tooltip-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 756px;
  min-height: 71px;
  -webkit-box-shadow: 0 0 2px 1px #ffe7c3;
  box-shadow: 0 0 2px 1px #ffe7c3;
  border-radius: 4px;
  background: #fdf6ec;
  font-size: 14px;
  color: #e6a23b;
}
.vms-iv-tooltip-popper .vms-iv-tooltip-content .vms-iv-tooltip-inner p {
  white-space: normal;
  max-width: 756px;
}
.quantity input {
  width: 68px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.quantity button,
.quantity input {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #262626;
  text-align: center;
  outline: 0;
}
.quantity button {
  width: 24px;
  border: 1px solid #ccc;
}
.quantity button:hover {
  cursor: pointer;
}
.shopping-list {
  border: 1px solid rgba(219, 223, 227, 0.3);
  border-radius: 4px;
}
.shopping-list .title {
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
}
.shopping-list .title .back-shop-cart {
  float: right;
  color: #E00;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 20px 0 0;
  font-weight: 400;
}
.shopping-list .content {
  background-color: transparent;
}
.shopping-list .content tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 0;
  margin-left: 40px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.shopping-list .content tr:not(:last-child) {
  border-bottom: 1px solid rgba(219, 223, 227, 0.3);
}
.shopping-list .content td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.shopping-list .content .product {
  width: 500px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.shopping-list .content .product img {
  width: 80px;
  height: 60px;
  overflow: hidden;
  margin: 0 50px 0 0;
}
.shopping-list .content .price {
  width: 160px;
}
.shopping-list .content .weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopping-list .content .totalPrice,
.shopping-list .content .weight {
  width: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shopping-list .content .totalPrice {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.shopping-list .content .totalPrice p {
  margin: 3px 0;
}
.product a {
  color: #000;
  display: inline-block;
  max-width: 320px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product a:hover {
  color: #E00;
}
.text-center {
  text-align: center;
}
.coupon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 351px;
  float: left;
}
.coupon .couponInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 351px;
  height: 128px;
  top: 0;
}
.coupon .couponInfo .countAndMoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  width: 84px;
  height: 128px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-shrink: 0;
  -ms-flex-negative: 0;
}
.coupon .couponInfo .countAndMoney div.couponCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 5px;
  margin-top: 15px;
  line-height: 21px;
  font-size: 12px;
}
.coupon .couponInfo .countAndMoney div.money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 37px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  line-height: 31px;
}
.coupon .couponInfo .countAndMoney div.money > span {
  line-height: 20px;
}
.coupon .couponInfo .countAndMoney div.money > span span.price {
  word-break: break-all;
}
.coupon .couponInfo .countAndMoney div.couponType {
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  word-spacing: 0;
}
.coupon .couponInfo .infoAndRules {
  width: 100%;
  padding-left: 10px;
}
.coupon .couponInfo .infoAndRules div.moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 98px;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 217px;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.names span.couponName {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  color: #5c5c5c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.couponIdAndDonate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.couponIdAndDonate div.donateButton {
  display: inline-block;
  width: 54px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 18px;
  line-height: 16px;
  border: 1px solid #d44646;
  border-radius: 9px;
  margin-top: 3px;
  font-size: 12px;
  color: #E00;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.couponIdAndDonate div.donateButton:hover {
  background-color: #d44646;
  color: #fff;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.couponId,
.coupon .couponInfo .infoAndRules div.moreInfo div.limitMoney {
  color: #bcbcbc;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  font-size: 12px;
  line-height: 14px;
  min-height: 14px;
}
.coupon .couponInfo .infoAndRules div.moreInfo div.couponId {
  margin-top: 3px;
  line-height: 18px;
  word-break: break-all;
}
.couponImg {
  position: relative;
  width: 351px;
  height: 128px;
  background: url(https://static.maxmines.com/self/lesongvi/viminershop/order/img/coupon-bg.png);
  background-repeat: no-repeat;
  background-size: 351px 128px;
}
.couponImg.disabled {
  position: relative;
  width: 351px;
  height: 128px;
  background: url(https://static.maxmines.com/self/lesongvi/viminershop/icon/disabled_coupon_bg.png);
  background-repeat: no-repeat;
  background-size: 351px 128px;
}

.coupons-child {
  display: flow-root;
}

.coupons-child .coupon:nth-child(3n) {
  page-break-after: always;
  break-after: always;
}