<div class="steps">
  <div>
      <span>
          <em class="{{activeStep >= 0 ? 'step-done': ''}}"><i>1</i></em>
      </span>
      <p translate>Giỏ hàng</p>
  </div>
  <div>
      <span>
          <em class="{{activeStep >= 1 ? 'step-done': ''}}"><i>2</i></em>
      </span>
      <p translate>Thông tin order</p>
  </div>
  <div>
      <span>
          <em class="{{activeStep >= 2 ? 'step-done': ''}}"><i>3</i></em>
      </span>
      <p translate>Thanh toán</p>
  </div>
  <div>
      <span>
          <em class="{{activeStep >= 3 ? 'step-done': ''}}"><i>4</i></em>
      </span>
      <p translate>Hoàn thành</p>
  </div>
</div>