<div class="vms-dialog-1" *ngIf="initialState">
    <div class="v-modal" style="z-index: 2000;"></div>
    <div class="vms-element-dialog__wrapper" style="z-index: 2001;">
        <div class="vms-element-dialog vms-element-dialog--small" style="top: 15%;">
            <div class="vms-element-dialog__header">
                <span class="vms-element-dialog__title">Sửa Loại Người Dùng</span><button type="button" aria-label="Close" class="vms-element-dialog__headerbtn" (click)="onUserClickClose()"><i class="vms-element-dialog__close vms-element-icon vms-element-icon-close"></i></button>
            </div>
            <div class="vms-element-dialog__body" *ngIf="initialState">
                <form class="vms-element-form addrAdd-en" [formGroup]="editUserPermission" (ngSubmit)="onEditSubmitted()">
                    <input type="hidden" formControlName="id" value="{{ initialState.id }}" />
                    <div class="vms-element-form-item is-required" style="position: relative;">
                        <label for="permission" class="vms-element-form-item__label" style="width: 120px;">Loại người dùng:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                            <div class="vms-element-input">
                                <i class="vms-element-input__icon vms-element-icon-caret-top"></i>
                                <select class="vms-element-input__inner" formControlName="permission">
                                    <option value="{{ role.id }}" *ngFor="let role of roleList">{{ role.roleName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="vms-element-dialog__footer">
                <div class="dialog-footer">
                    <button type="button" class="vms-element-button vms-element-button--default" (click)="onUserClickClose()">
                        <span>Hủy bỏ</span>
                    </button>
                    <button type="button" class="vms-element-button vms-element-button--primary" (click)="onEditSubmitted()">
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>