<div class="vms_apc-main col-lg-8 col-md-8 col-sm-8 clo-xs-12">
    <h4 class="vms_apc-main-header">
        <span>Quản lý người dùng</span>
    </h4>

    <div class="vms-admin-container">
        <div class="users-table" style="overflow-x: auto;">
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Tên tài khoản</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Thời gian</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td>{{ user.firstName !== null ? user.firstName : "Chưa đặt" }}</td>
                        <td>{{ user.lastName !== null ? user.lastName : "Chưa đặt" }}</td>
                        <td>{{ user.username !== null ? user.username : "Chưa đặt" }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telephone !== null ? user.telephone : "Chưa đặt" }}</td>
                        <td>{{ user.created_at | date: "dd/MM/yyyy HH:ss" }}</td>
                        <td>
                            <a href="javascript:" (click)="editUser(user)">Đổi quyền</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page" *ngIf="userList && userList.length !== 0">
                <ul class="vms-iv-page">
                    <li title="Trang Trước" class="vms-iv-page-prev{{ disablePrevPageBtn ? ' vms-iv-page-disabled' : '' }}" [disabled]="disablePrevPageBtn" (click)="userClickPreviousPage()">
                        <a><i class="vms-iv-icon vms-iv-icon-ios-arrow-left"></i></a>
                    </li>
                    <li title="{{ page + 1 }}" class="vms-iv-page-item vms-iv-page-item-active"><a>{{ page + 1 }}</a></li>
                    <li title="Trang Tiếp Theo" class="vms-iv-page-next{{ disableNextPageBtn ? ' vms-iv-page-disabled' : '' }}" [disabled]="disableNextPageBtn" (click)="userClickNextPage()">
                        <a><i class="vms-iv-icon vms-iv-icon-ios-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
