<div class="myAddress">
  <div class="clearfix vms_apc-main-header">
    <h2 class="title pull-left">
      <span translate>Địa chỉ của tôi</span>
    </h2>
    <div class="pull-right action">
      <button class="add-address{{ innerLoading ? ' disabled' : '' }}" [disabled]="innerLoading" (click)="userClickAddNewAddress()" translate>+ Thêm Địa Chỉ</button>
    </div>
  </div>

  <div class="geer-loading" *ngIf="innerLoading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div class="user-addr" *ngIf="!innerLoading && userData">
    <div class="addr-item" *ngFor="let uaddress of userData.userAddresss">
      <div class="td1 active"><span class="username">{{ uaddress.telephone }}</span></div>
      <div class="td2">
          <div><span class="mobile">{{ uaddress.mobile }}</span></div>
          <div class="td2-li1">
              <span>{{ uaddress.address }}</span> <span>{{ uaddress.street_name }}</span> <span>{{ uaddress.city }}</span>
              <span>{{ uaddress.country }}</span> <span>{{ uaddress.postal_code }}</span>
          </div>
      </div>
      <div class="td3">
          <div class="td2-default" [style.display]="uaddress.isDefault ? 'display' : 'none'"><span translate>Địa Chỉ Mặc Định</span></div>
          <span class="operating" [style.display]="!uaddress.isDefault ? 'display' : 'none'" (click)="onUserClickDefault(uaddress.id)" translate>Đặt Là Mặc Định</span>
          <div [class]="!uaddress.isDefault ? 'op_3' : 'op'">
              <span class="operating"  (click)="onUserClickAddrEdit(uaddress)">
                  <img src="https://static.maxmines.com/self/lesongvi/viminershop/icon/addr-edit.ic.svg"
                  />
              </span>
              <span class="operating" (click)="onUserClickAddrDelete(uaddress)" *ngIf="!uaddress.isDefault">
                  <img src="https://static.maxmines.com/self/lesongvi/viminershop/icon/addr-delete-ic.svg"
                  />
              </span>
          </div>
      </div>
    </div>
  </div>
</div>
