.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 1220px
}

._1iymsrV0 {
  -webkit-transition: box-shadow .1s ease-out;
  background-color: #fff;
  box-shadow: 0 0 1px 0 hsla(0,0%,60.8%,.2);
  float: left;
  list-style: none;
  margin: 7px 8px 8px 7px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transition: box-shadow .1s ease-out;
  width: 228px
}

._1iymsrV0.compact {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0
}

._1iymsrV0.compact a {
  margin: auto
}

._1iymsrV0.compact a img {
  display: block;
  max-width: 100%
}

._1iymsrV0:hover {
  box-shadow: 0 1px 18px 0 hsla(0,0%,60.8%,.4)
}

._1iymsrV0 .avatar {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  overflow: hidden
}

._1iymsrV0 .avatar img {
  display: block;
  margin: auto;
  max-height: 140px
}

._1iymsrV0 h4 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 15px 0 5px;
  overflow: hidden
}

._1iymsrV0 p {
  color: #aaa;
  font-size: 12px;
  height: 36px;
  line-height: 18px;
  overflow: hidden
}

._1iymsrV0 .appender {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin: 6px 0 10px;
  position: relative
}

._1iymsrV0 .price {
  float: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px
}

._1iymsrV0 .action {
  float: right;
  font-size: 14px;
  padding: 7px 12px
}

._1iymsrV0 .unuse .action {
  background: transparent;
  color: #e5e5e5;
  cursor: not-allowed
}

._1iymsrV0 .subscribe {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10
}

._1iymsrV0.comming .appender a,._1iymsrV0.comming .appender span,._1iymsrV0.futures .appender a,._1iymsrV0.futures .appender span,._1iymsrV0.presell .appender a,._1iymsrV0.presell .appender span,._1iymsrV0.soldout .appender a,._1iymsrV0.soldout .appender span {
  background: #666;
  border-radius: 2px;
  color: #fff;
  line-height: 1;
  padding: 3px 5px
}

._1iymsrV0.comming .appender span,._1iymsrV0.futures .appender span,._1iymsrV0.presell .appender span {
  background: #2fc051
}

._1iymsrV0.soldout .appender a {
  background: #f90
}

._1iymsrV0.comming:after,._1iymsrV0.futures:after,._1iymsrV0.presell:after,._1iymsrV0.soldout:after {
  content: "";
  height: 110px;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px
}

._1iymsrV0.soldout:after {
  background-image: url(https://static.maxmines.com/self/lesongvi/viminershop/order/img/soldOut.svg)
}

._1iymsrV0.comming:after {
  background-image: url(https://static.maxmines.com/self/lesongvi/viminershop/order/img/comingSoon.svg)
}

._1iymsrV0.presell:after {
  background-image: url(https://static.maxmines.com/self/lesongvi/viminershop/order/img/preOrder.svg)
}

._1iymsrV0.futures:after {
  background-image: url(https://static.maxmines.com/self/lesongvi/viminershop/order/img/futureOrder.svg)
}

.item.active {
  color: #E00!important;
  line-height: 36px!important;
  border: 2px solid #E00!important;
  background: url(https://static.maxmines.com/self/lesongvi/viminershop/icon/ic_ticklist.png)
      no-repeat right -494px!important;
}

.content .header {
  height: 40px;
  margin: 20px 0 10px
}

.content .header h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 40px
}

.content ul {
  margin: 7px -8px 8px -7px
}

.order-confirm .content .item {
  margin: 20px 0;
}

.product-filter {
  background-color: #FFF;
  border: 1px solid rgba(219,223,227,.3);
  border-radius: 4px;
  padding-top: 10px;
}

.product-filter .content {
  display: flex;
  margin: 30px 20px;
}

.product-filter .content .item {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: #888;
  border: 1px solid #e8e8e8;
  height: 40px;
  min-width: 140px;
  line-height: 38px;
  text-align: center;
  margin: 5px 30px 5px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
}

.categories {
  width: 540px
}

.price {
  width: 540px
}
