a,
b,
body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
nav,
p,
q,
s,
span,
th,
u {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
footer,
.nav_vms {
    display: flex;
}
body {
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0;
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    color: #000;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
q {
    quotes: none;
}
q:after,
q:before {
    content: "";
    content: none;
}
a {
    color: #000;
}
body,
html {
    height: 100%;
}
*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}
body {
    line-height: 1.5;
    background-color: #fff;
    font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: #262626;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
b {
    font-weight: bolder;
}
img {
    border-style: none;
}
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
[hidden] {
    display: none;
}
@-webkit-keyframes ex-kf-rotate {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes ex-kf-rotate {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes ex-kf-bounce {
    0% {
        transform: translateZ(0);
    }
    25% {
        transform: translate3d(0, -10px, 0);
    }
    50% {
        transform: translateZ(0);
    }
    75% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes ex-kf-bounce {
    0% {
        transform: translateZ(0);
    }
    25% {
        transform: translate3d(0, -10px, 0);
    }
    50% {
        transform: translateZ(0);
    }
    75% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes moveltc {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes moveltc {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes movectl {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes movectl {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@-webkit-keyframes movertc {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@keyframes movertc {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}
@-webkit-keyframes movectr {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes movectr {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}
@-webkit-keyframes bt-kf-rotate {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes bt-kf-rotate {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@font-face {
    font-family: btui;
    src: url(//at.alicdn.com/t/font_1971646_acdheioaa4q.eot);
    src: url(//at.alicdn.com/t/font_1971646_acdheioaa4q.eot#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_1971646_acdheioaa4q.woff2) format("woff2"), url(//at.alicdn.com/t/font_1971646_acdheioaa4q.woff) format("woff"),
        url(//at.alicdn.com/t/font_1971646_acdheioaa4q.ttf) format("truetype"), url(//at.alicdn.com/t/font_1971646_acdheioaa4q.svg#btui) format("svg");
}
[class*="bt-icon-"] {
    font-family: btui !important;
    font-size: inherit;
    font-style: normal;
    vertical-align: baseline;
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
}
.text-right {
    text-align: right;
}
.text-md {
    font-size: 15px;
}
.text-ts {
    font-size: 13px;
}
.wrapper {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
footer {
    width: 100%;
    background: #37383e;
}
@media (max-width: 768px) {
    footer {
        margin-top: 10px;
    }
}
footer .wrapper {
    max-width: 1220px;
    margin: auto;
    padding: 40px 10px 0;
    color: #999;
}
@media (max-width: 768px) {
    footer .wrapper {
        padding: 30px 30px 0;
    }
}
footer .wrapper a {
    color: #999;
}
footer .wrapper .navigator {
    display: flex;
    font-size: 15px;
}
@media (max-width: 768px) {
    footer .wrapper .navigator {
        display: block;
        position: relative;
    }
}
footer .wrapper .navigator .navbar {
    flex: 1;
    display: flex;
    align-items: flex-start;
}
footer .wrapper .navigator .logo {
    margin-right: 60px;
}
@media (max-width: 992px) {
    footer .wrapper .navigator .logo {
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    footer .wrapper .navigator .logo {
        display: none;
    }
}
footer .wrapper .navigator .nav_vms {
    flex: 1;
}
footer .wrapper .navigator .nav_vms a {
    position: relative;
}
@media (max-width: 768px) {
    footer .wrapper .navigator .nav_vms a {
        font-size: 14px;
        display: block;
        float: left;
        clear: left;
    }
}
footer .wrapper .navigator .nav_vms a:hover {
    color: #fff;
}
footer .wrapper .navigator .nav_vms a + a {
    margin-left: 40px;
}
@media (max-width: 992px) {
    footer .wrapper .navigator .nav_vms a + a {
        margin-left: 20px;
    }
}
@media (max-width: 768px) {
    footer .wrapper .navigator .nav_vms a + a {
        margin-left: 0;
        margin-top: 12px;
    }
}
footer .wrapper .navigator .nav_vms a + a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -20px;
    height: 16px;
    border-left: 1px solid #999;
}
@media (max-width: 992px) {
    footer .wrapper .navigator .nav_vms a + a:before {
        left: -10px;
    }
}
@media (max-width: 768px) {
    footer .wrapper .navigator .nav_vms a + a:before {
        border: none;
        position: relative;
    }
}
@media (max-width: 768px) {
    footer .wrapper .social {
        position: absolute;
        top: 0;
        right: 0;
    }
}
footer .wrapper .social a {
    display: inline-block;
    cursor: pointer;
}
footer .wrapper .social a + a {
    margin-left: 30px;
}
footer .wrapper .social a img {
    display: block;
    width: 20px;
    height: 20px;
}
footer .wrapper .support,
footer .wrapper .tel,
footer .wrapper .currency {
    margin-top: 20px;
}
@media (max-width: 768px) {
    footer .wrapper .support,
    footer .wrapper .tel,
    footer .wrapper .currency {
        display: none;
    }
}
footer .wrapper .support img,
footer .wrapper .tel img {
    float: left;
    width: 20px;
    height: 20px;
}
footer .wrapper .support span,
footer .wrapper .tel span {
    padding: 0;
    margin: 0 0 0 15px;
    line-height: 20px;
    display: inline-block;
    min-width: 160px;
}
footer .wrapper .support a,
footer .wrapper .tel a {
    color: #999;
}
footer .wrapper .support a:hover,
footer .wrapper .tel a:hover {
    color: #f2f2f2;
}
footer .wrapper .copyright {
    margin-top: 40px;
    padding: 35px 0;
    border-top: 1px solid hsla(0, 0%, 60.8%, 0.2);
    font-size: 12px;
}
@media (max-width: 768px) {
    footer .wrapper .copyright {
        margin-top: 30px;
        padding: 30px 0;
    }
}
@media screen and (max-width: 1180px) {
    .m-hidden {
        display: none !important;
    }
}
@-webkit-keyframes lds-grid-data-v-3b2759b5 {
    0%,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
@keyframes lds-grid-data-v-3b2759b5 {
    0%,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
@-webkit-keyframes geer-loading1-vms-data-key {
    0% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes geer-loading1-vms-data-key {
    0% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes geer-loading3-vms-data-key {
    0% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
@keyframes geer-loading3-vms-data-key {
    0% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
@-webkit-keyframes geer-loading2-vms-data-key {
    0% {
        transform: translate(0);
    }
    to {
        transform: translate(19px);
    }
}
@keyframes geer-loading2-vms-data-key {
    0% {
        transform: translate(0);
    }
    to {
        transform: translate(19px);
    }
}

.vms-select-selection--single {
    position: relative;
    height: 32px;
    cursor: pointer;
}

.vms-select-selection {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}
