<div class="container">
    <div class="login-base">
      <div class="login-box">
        <div class="body">
          <div class="form-box">
              <div class="form-item">
                <p translate>
                    Tài khoản của bạn chưa được xác minh, bạn bắt buộc phải xác minh tài khoản để có thể tiếp tục mua hàng tại cửa hàng Vĩ Miner.
                </p>
              </div>
              <div class="form-item">
                <p translate>
                    Hãy chú ý mail có đuôi: @<a href="https://maxmines.com" target="_blank">maxmines.com</a>. {{ 'Mail của MaxMines rất ít khi vào thư mục spam nhưng khuyên bạn nên kiểm tra trong trường hợp không mong muốn!' | translate }}
                </p>
              </div>
              <div class="form-item">
                <p translate>
                    Nếu bạn muốn thay đổi mail, hãy đăng xuất và tạo lại tài khoản khác.
                </p>
              </div>
              <div class="form-item">
                <button class="button primary large block fill" type="submit" (click)="onUserClickResendMail()" translate>Gửi lại mail xác minh</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
    