<div class="vms-dialog-1" *ngIf="initialState">
    <div class="v-modal" style="z-index: 2000;"></div>
    <div class="vms-element-dialog__wrapper" style="z-index: 2001;">
        <div class="vms-element-dialog vms-element-dialog--small" style="top: 15%;">
            <div class="vms-element-dialog__header">
                <span class="vms-element-dialog__title">Sửa Kho Hàng</span><button type="button" aria-label="Close" class="vms-element-dialog__headerbtn" (click)="onUserClickClose()"><i class="vms-element-dialog__close vms-element-icon vms-element-icon-close"></i></button>
            </div>
            <div class="vms-element-dialog__body" *ngIf="initialState">
                <form class="vms-element-form addrAdd-en" [formGroup]="editInventory" (ngSubmit)="onEditSubmitted()">
                    <input type="hidden" formControlName="id" value="{{ initialState.id }}" />
                    <div class="vms-element-form-item{{editInventory.get('quantity').invalid && editInventory.get('quantity').touched ? ' is-error' : ''}} is-required" style="position: relative;">
                        <label for="quantity" class="vms-element-form-item__label" style="width: 120px;">Số lượng:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                        <div class="vms-element-input">
                            <input autocomplete="off" type="number" class="vms-element-input__inner" formControlName="quantity" value="{{ initialState.quantity }}" />
                        </div>
                        <p class="err-info" style="display: none;"></p>
                        <ng-container *ngIf="editInventory.get('quantity').invalid && editInventory.get('quantity').touched">
                            <div class="vms-element-form-item__error" *ngIf="editInventory.get('quantity').errors['required']">Số lượng không được để trống</div>
                        </ng-container>
                        </div>
                    </div>
                    <div class="vms-element-form-item is-required" style="position: relative;">
                        <label for="flag" class="vms-element-form-item__label" style="width: 120px;">Cờ sản phẩm:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                            <div class="vms-element-input">
                                <i class="vms-element-input__icon vms-element-icon-caret-top"></i>
                                <select class="vms-element-input__inner" formControlName="flag">
                                    <option value="NULL">Không</option>
                                    <option value="FLAG_SPOT_ORDER">Giao ngay</option>
                                    <option value="FLAG_FEATURE_ORDER">Đặt trước</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="vms-element-form-item{{editInventory.get('hps').invalid && editInventory.get('hps').touched ? ' is-error' : ''}} is-required" style="position: relative;">
                        <label for="hps" class="vms-element-form-item__label" style="width: 120px;">Hps:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                            <div class="vms-element-input">
                                <input autocomplete="off" type="number" class="vms-element-input__inner" formControlName="hps" value="{{ initialState.hps }}" />
                            </div>
                            <p class="err-info" style="display: none;"></p>
                            <ng-container *ngIf="editInventory.get('hps').invalid && editInventory.get('hps').touched">
                                <div class="vms-element-form-item__error" *ngIf="editInventory.get('hps').errors['required']">Hps không được để trống</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="vms-element-form-item{{editInventory.get('weight').invalid && editInventory.get('weight').touched ? ' is-error' : ''}} is-required" style="position: relative;">
                        <label for="weight" class="vms-element-form-item__label" style="width: 120px;">Trọng lượng sản phẩm:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                            <div class="vms-element-input">
                                <input autocomplete="off" type="text" class="vms-element-input__inner" formControlName="weight" value="{{ initialState.weight }}" />
                            </div>
                            <p class="err-info" style="display: none;"></p>
                            <ng-container *ngIf="editInventory.get('weight').invalid && editInventory.get('weight').touched">
                                <div class="vms-element-form-item__error" *ngIf="editInventory.get('weight').errors['required']">Trọng lượng không được để trống</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="vms-element-form-item" style="position: relative;">
                        <label for="shippingInfo" class="vms-element-form-item__label" style="width: 120px;">Thông tin ship:</label>
                        <div class="vms-element-form-item__content" style="margin-left: 120px;">
                            <div class="vms-element-input">
                                <input autocomplete="off" type="text" rows="5" maxlength="30" class="vms-element-input__inner" formControlName="shippingInfo" value="{{ initialState.shippingInfo }}" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="vms-element-dialog__footer">
                <div class="dialog-footer">
                    <button type="button" class="vms-element-button vms-element-button--default" (click)="onUserClickClose()">
                        <span>Hủy bỏ</span>
                    </button>
                    <button type="button" class="vms-element-button vms-element-button--primary" (click)="onEditSubmitted()">
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>