<div class="vms_apc-main col-lg-8 col-md-8 col-sm-8 clo-xs-12">
    <h4 class="vms_apc-main-header">
        <span>Quản lý danh mục</span>
    </h4>

    <div class="vms_apc-main-tabs viminer-tabs">
        <a class="vms_apc-main-tabs-item viminer-tabs-item" routerLink="/admin/categories/manage" routerLinkActive="active">Quản lý danh mục</a>
        <a class="vms_apc-main-tabs-item viminer-tabs-item" routerLink="/admin/categories/add" routerLinkActive="active">Thêm danh mục</a>
    </div>

    <div class="main-content">
        <div class="form-box">
            <form [formGroup]="addCategoryForm" (ngSubmit)="FormSubmittedEv()">
                <div class="form-item-viminer">
                    <div class="item-label">
                        <font class="required">*</font> Tên danh mục
                    </div>
                    <div class="item-value">
                        <div class="vms-radio-group vms-radio-group-outline">
                            <input placeholder="Tên danh mục" type="text" class="vms-input" value="" formControlName="name" />
                            <div class="input-error" *ngIf="addCategoryForm.get('name').invalid && addCategoryForm.get('name').touched">Tên danh mục là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-item-viminer">
                    <div class="item-label">
                        Mô tả danh mục
                    </div>
                    <div class="item-value">
                        <div class="vms-radio-group vms-radio-group-outline">
                            <textarea placeholder="Mô tả của danh mục" rows="5" type="text" class="vms-input" value="" formControlName="desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-item-viminer">
                    <div class="item-label">
                        Liên kết hình ảnh của danh mục
                    </div>
                    <div class="item-value">
                        <div class="vms-radio-group vms-radio-group-outline">
                            <input placeholder="Bắt đầu bằng https hoặc http..." type="text" class="vms-input" value="" formControlName="image" />
                        </div>
                    </div>
                </div>
                <div class="form-item-viminer">
                    <div class="item-label">
                        <font class="required">*</font> Liên kết danh mục
                    </div>
                    <div class="item-value">
                        <div class="vms-radio-group vms-radio-group-outline">
                            <input placeholder="Liên kết danh mục" type="text" class="vms-input" value="" formControlName="slug" />
                            <div class="input-error" *ngIf="addCategoryForm.get('slug').invalid && addCategoryForm.get('slug').touched">Liên kết danh mục là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-item-viminer">
                    <div class="item-label"></div>
                    <div class="item-value">
                        <button type="button" class="vms-btn vms-btn-primary" (click)="FormSubmittedEv()">
                            <span>Thêm danh mục</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
