<div class="vms_apc-main col-lg-8 col-md-8 col-sm-8 clo-xs-12">
    <h4 class="vms_apc-main-header">
        <span>Quản lý sản phẩm</span>
    </h4>

    <div class="vms_apc-main-tabs viminer-tabs">
        <a class="vms_apc-main-tabs-item viminer-tabs-item" routerLink="/admin/products/manage" routerLinkActive="active">Quản lý sản phẩm</a>
        <a class="vms_apc-main-tabs-item viminer-tabs-item" routerLink="/admin/products/add" routerLinkActive="active">Thêm sản phẩm</a>
    </div>

    <div class="vms-admin-container">
        <ul class="subscription-list thread-list">
            <li class="thread-list-item-container row relative" *ngFor="let product of productList">
                <div class="thread-list-item-avatar col-lg-1 col-md-1 col-sm-1 col-xs-2" style="padding-right: 10px">
                    <a routerLink="/detail/{{ product.id }}">
                        <img src="{{ product.productImages.length !== 0 ? product.productImages[0].imageUrl : '' }}" alt="{{ product.productImages.length !== 0 ? product.productImages[0].alt_name : '' }}" />
                    </a>
                </div>
                <div class="thread-list-item-content col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="thread-list-item-content-title">
                        <a routerLink="/detail/{{ product.id }}">
                            {{ product.name }} {{ !product.isActive ? '(Vô hiệu hóa)' : '' }}
                        </a>
                    </div>
                    <div class="thread-list-item-content-info">
                        <a class="thread-list-item-content-info-user" routerLink="/category/{{ product.productCategory.slug }}"> {{ product.productCategory.name }} </a>
            
                        <div class="thread-list-item-content-info-publish">
                            <span class="thread-list-item-content-info-publish-icon glyphicon glyphicon-time"></span>
                            <span class="thread-list-item-content-info-publish-time"> {{ product.created_at | date: "dd/MM/yyyy HH:ss" }} </span>
                        </div>
            
                        <div class="thread-list-item-content-info-posts">
                            <span class="thread-list-item-content-info-posts-icon glyphicon glyphicon-post"></span>
                            <span class="thread-list-item-content-info-posts-time"> {{ product.productInventory.quantity }} </span>
                        </div>
            
                        <div class="thread-list-item-content-info-views">
                            <span class="thread-list-item-content-info-views-icon glyphicon glyphicon-view"></span>
                            <span class="thread-list-item-content-info-views-time"> {{ product.productInventory.weight }}kg </span>
                        </div>
            
                        <div class="thread-list-item-content-info-latest">
                            <span class="thread-list-item-content-info-latest-icon glyphicon glyphicon-time"></span>
                            <span class="thread-list-item-content-info-latest-time"> {{ abbreviateNumber(product.productInventory.hps) }}H/s </span>
                        </div>
                    </div>
                </div>
                <div class="thread-list-item-content-info-track">
                    <a class="thread-action-track viminer-gray-btn" href="javascript:" (click)="editProduct(product)">Chỉnh sửa</a>
                </div>
            </li>
        </ul>
        <div class="page" *ngIf="productList && productList.length !== 0">
            <ul class="vms-iv-page">
                <li title="Trang Trước" class="vms-iv-page-prev{{ disablePrevPageBtn ? ' vms-iv-page-disabled' : '' }}" (click)="userClickPreviousPage()">
                    <a><i class="vms-iv-icon vms-iv-icon-ios-arrow-left"></i></a>
                </li>
                <li title="{{ page + 1 }}" class="vms-iv-page-item vms-iv-page-item-active"><a>{{ page + 1 }}</a></li>
                <li title="Trang Tiếp Theo" class="vms-iv-page-next{{ disableNextPageBtn ? ' vms-iv-page-disabled' : '' }}" (click)="userClickNextPage()">
                    <a><i class="vms-iv-icon vms-iv-icon-ios-arrow-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
